<!--{% if site.social.email %}<a href="mailto:{{ site.social.email | encode_email }}"><i class="fas fa-envelope pr-1"></i></a>{% endif %}-->
<script language="JavaScript">x = 'jorge.toro'; y = 'inf.ethz.ch'; document.write('<a href="mailto:' + x + '@' + y + '" class="pr-1">');</script><i class="fas fa-envelope"></i></a>
{% if site.social.github.username %}<a href="https://github.com/{{ site.social.github.username }}" target="_blank"><i class="fab fa-github"></i></a>{% endif %}
{% if site.social.scholar.user %}<a href="https://scholar.google.com/citations?user={{ site.social.scholar.user }}" target="_blank"><i class="ai ai-google-scholar"></i></a>{% endif %}
{% if site.social.linkedin.username %}<a href="https://www.linkedin.com/in/{{ site.social.linkedin.username }}" target="_blank"><i class="fab fa-linkedin"></i></a>{% endif %}
{% if site.social.twitter.username %}<a href="https://twitter.com/{{ site.social.twitter.username }}" target="_blank"><i class="fab fa-twitter"></i></a>{% endif %}
{% if site.social.orcid.id %}<a href="https://orcid.org/{{ site.social.orcid.id }}" target="_blank"><i class="ai ai-orcid"></i></a>{% endif %}
{% if site.social.dblp.link %}<a href="{{ site.social.dblp.link }}" target="_blank"><i class="ai ai-dblp-square"></i></a>{% endif %}
