---
---
/*!
* The main styles.
* v2.0
* https://github.com/cotes2020/jekyll-theme-chirpy
* © 2018-2019 Cotes Chung
* MIT Licensed
*/

@import "_addon/fonts";
@import "_addon/module";
@import "_addon/variables";

@import "_colors/light-typography";
@import "_colors/dark-typography";
@import "_colors/light-syntax";
@import "_colors/dark-syntax";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

@mixin set-visible($light-display, $dark-display) {
  [light-mode-invisible] {
    display: $light-display;
  }

  [dark-mode-invisible] {
    display: $dark-display;
  }
}

@mixin mode-toggle($dark-mode: false) {
  @if $dark-mode {
    @include set-visible(inline-block, none);
    @include dark-scheme;
  } @else {
    @include set-visible(none, inline-block);
    @include light-scheme;
  }
}

html:not([mode]), html[mode=light] {
  @include mode-toggle();
}

html[mode=dark] {
  @include mode-toggle(true);
}

@media (prefers-color-scheme: dark) {
  html:not([mode]), html[mode=dark] {
    @include mode-toggle(true);
  }

  html[mode=light] {
    @include mode-toggle();
  }
}

html {
  overflow-y: scroll; //fix jumping scrollbar
  background: var(--html-bg);
}

body {
  min-height: 100%;
  max-width: $max-content-width;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  line-height: 1.5;
  background: var(--body-bg);
  color: var(--text-color);
  //-webkit-font-smoothing: antialiased;
  //-moz-osx-font-smoothing: grayscale;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  //font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
  @extend %link-color;
  &:hover { 
    //@extend %link-hover;
    color: var(--link-color);
    text-decoration: underline;
  }
  /*@at-root p>#{&} {
    @extend %link-color;
  }
  @at-root span>#{&} {
    @extend %link-color;
  }
  .license-wrapper .license-text &:hover {
    @extend %link-hover;
  }*/
} // a

#panel-wrapper {
  position: fixed;
  right: 30px;
  top: 80px;
  color: gray;
  font-size: 13px;
  width: $sidebar-width - 30px;
  padding-right: 1.5em;

  #toc-wrapper, #news-wrapper {
    //border: 1px solid rgba(158, 158, 158, 0.17);
    //border-radius: 10px;
    border-left: 1px solid rgba(158, 158, 158, 0.17);
  }
}

/*--- sidebar layout ---*/

#sidebar {
  position: fixed;
  height: 100%;
  overflow-y: auto;
  width: 0;
  z-index: 99;
  background: var(--sidebar-bg);
  text-align: center;
  
  a {
    //@include sidebar-icon;
    font-size: 1.5em;
		color: var(--sidebar-text-color);
  }
  
  //makes the social icons go down
  #sidebar-top {
    flex-grow: 1;
  }

  #sidebar-bottom {
		margin: 1em;
    line-height: 1.75em;
    color: var(--social-icon-text-color);
    
		a {
      padding-bottom: .5em; //icons may have multi lines
      color: var(--social-icon-text-color);
    }

    #mode-toggle-wrapper>i {
      font-size: 1.25em;
      color: var(--social-icon-text-color);
    }

    a:hover, #mode-toggle-wrapper>i:hover {
      color: white;
    }

  }
} // #sidebar

.dot {
  height: 3px;
  width: 3px;
  background-color: dimgray; //var(--sidebar-text-color);
  border-radius: 50%;
  display: inline-block;
  margin-top: .75em; //calc((1.5rem - 3px)/2);
  margin-right: 3px;
}

#avatar {
  >a {
    margin-top: 2em;
    display: block;
    width: $avatar-size;
    height: $avatar-size;
    border-radius: 50%;
    border: 2px solid gray;
    overflow: hidden;
    transform: translateZ(0); // fixed the zoom in Safari
    -webkit-transition: border-color 0.35s ease-in-out;
    -moz-transition: border-color 0.35s ease-in-out;
    transition: border-color 0.35s ease-in-out;
  }

  &:hover>a {
    border-color: white;
  }

  img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s !important;
    -moz-transition: all .5s !important;
    transition: all .5s !important;
    &:hover {
      -ms-transform: scale(1.3);
      -moz-transform: scale(1.3);
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
    }
  }

} // #avatar

#site-title {
  margin-top: 1.4em;
  a {
		color: var(--sidebar-text-color);
    font-weight: bold;
    font-size: 1.45em;
    &:hover {
      color: white;
      text-decoration: none;
    }
  }
}

#site-subtitle {
  font-size: .9em;
  padding-top: .75em;
  line-height: .75em;
	color: var(--sidebar-text-color);
  a {
    font-size: .9em;
		color: var(--sidebar-text-color);
  }
  a:hover {
      color: white;
      text-decoration: none;
  }
}

.sidebar-expand {
  box-shadow: 4px 0 8px 0 rgba(0, 0, 0, 0.2), 6px 0 20px 0 rgba(0, 0, 0, 0.19) !important;
}

/*--- top-bar ---*/

#topbar {
  height: $topbar-height;
  background-color: rgb(39, 40, 43);
  height: $topbar-height;
  position: fixed;
  width: 100%;
  z-index: 50;
  padding-top: $topbar-avatar-margin;
  padding-bottom: $topbar-avatar-margin;

  a {
    color: var(--sidebar-text-color);
  }

  a:hover {
    text-decoration: none;
    color: white;
  }

  img {
    width: $topbar-avatar-size;
    border-radius: 50%;
    margin-right: .3 * $icon-size;
    border: 1px solid gray;
  }

  .topbar-left {
    font-weight: bold;
    float: left;
    padding-left: 1.5em;
  }

  .topbar-right {
    float: right;
    font-size: $icon-size;
    padding-right: 1.5em;
    a {
      margin-left: .2 * $icon-size;
    }
  }

  .hide-from-topbar {
    display: none;
  }
}

/*--- Typography ---*/

h1, h2, h3, h4, h5 {
  //font-weight: bold;
  padding-top: 1rem;
  font-family: 'Source Sans Pro', 'Microsoft Yahei', sans-serif;
}

h1, h2, h3, h4 {
  @extend %section;
  //@extend %anchor;
}

h1 {
  font-size: 1.75em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1.15em;
}

blockquote {
  border-left: 5px solid var(--blockquote-border-color);
  padding-left: 1em;
  color: var(--blockquote-text-color);
  a {
    color: var(--link-color);
  }
}

kbd {
  margin: 0 .3em;
}

sup {
  //@extend %anchor;
}

.footnotes ol {
  margin-top: .5em;
  >li {
    padding-top: .2em;
    margin-top: -0.2em;
    >p {
      padding-left: .2em;
    }
    &:not(:last-child) {
      margin-bottom: -.8em;
    }
    &:target>p {
      background-color: var(--footnote-target-bg);
      width: fit-content;
      -webkit-transition: background-color 1.5s ease-in-out;
      /* Safari prior 6.1 */
      transition: background-color 1.5s ease-in-out;
    }
  }
}

.footnote {
  @at-root a#{&} {
    margin: 0 .2em;
    border-bottom-style: none !important;
    -webkit-transition: background-color 1.5s ease-in-out; /* Safari prior 6.1 */
    transition: background-color 1.5s ease-in-out;
  }
  @at-root sup:target>a#{&} {
    background-color: var(--footnote-target-bg);
    padding: 0 2px;
  }
}

.reversefootnote {
  @at-root a#{&} {
    font-size: .6em;
    position: absolute;
    line-height: 1;
    padding-top: .5em;
    margin-left: .5em;
    border-bottom-style: none !important;
  }
}

footer {
  opacity: .85;
	color: gray;
  padding-top: 75px;
  padding-bottom: 20px;
  font-size: 0.65em;
  a {
    font-weight: bold;
		color: gray;
    text-decoration: none;
    &:hover {
      //@extend %link-hover;
      color: var(--link-color);
    }    
  }
}

.mt-minus-point-75 {
  margin-top: -.75em;
}

.mb-zero {
  margin-bottom: 0;
}

.fs-point-9 {
  font-size: .9em;
}

.fs-point-8 {
  font-size: .8em;
}

.fs-point-7 {
  font-size: .7em;
}

.rotated {
  transform: rotate(180deg);
}

ol {
  padding-left: 1.75em;
}

ul {
  padding-left: 1.75em;
  //list-style-type: square;
}

sup {
  padding-top: 3.4em;
}


/*--- Begin of Markdown table style ---*/

table, li>table {
    min-width: 60%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 1.5em;
}

table {
  thead {
    border-bottom: solid 2px rgba(210, 215, 217, 0.75);
    +tbody tr {
      &:nth-child(2n) {
        background-color: var(--tb-even-bg);
      }
      &:last-child:nth-child(2n) {
        border-bottom: solid 1px var(--tb-even-border-color);
      }
      &:nth-child(2n + 1) {
        background-color: var(--tb-odd-bg);
      }
    }
    th {
      @extend %table-cell;
    }
  }

  tbody td {
    @extend %table-cell;
  }

} // table

table.colored {
  tbody tr {
    &:nth-child(2n) {
      background-color: var(--tb-even-bg);
    }
    &:nth-child(2n + 1) {
      background-color: var(--tb-odd-bg);
    }
  }
}


/*.footnotes ol>li {
  padding-top: 3.5em;
  margin-top: -4.3em;
  &:first-child {
    margin-top: -3.5em;
  }
}*/

/* --- Effects classes --- */

.loaded {
  display: block !important;
  @at-root .d-flex#{&} {
    display: flex !important;
  }
}

.unloaded {
  display: none !important;
}

.visable {
  visibility: visible !important;
}

.hidden {
  visibility: hidden !important;
}

.no-scroll {
  position: fixed;
  width: 100%;
}

.flex-grow-1 {
  -ms-flex-positive: 1!important;
  flex-grow: 1!important;
}

.btn-box-shadow {
  box-shadow: 0 0 8px 0 var(--btn-box-shadow)!important;
}

.topbar-up {
  top: -3em !important; /* same as topbar height. */
}

.no-text-decoration {
  @include no-text-decoration;
}

.tooltip-inner { /* Overrided BS4 Tooltip */
  font-size: .7em;
  max-width: 220px;
  text-align: left;
}

.disabled {
  color: rgb(206, 196, 196);
  pointer-events: auto;
  cursor: not-allowed;
}

.hide-border-bottom {
  border-bottom: none!important;
}

.input-focus {
  box-shadow: none;
  border-color: var(--input-focus-border-color) !important;
  background: center !important;
}

/*--- Responsive Design ---*/

/*@media all and (max-width: 576px) {
  div>table, p~table {
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
  }
}

//iPad 9.7" horizontal
@media all and (min-width: 992px) and (max-width: 1024px) {
  #main .col-lg-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 96%;
    flex: 0 0 96%;
    max-width: 96%;
  }
}*/

/* By default, both sidebar and panels are hidden */

#panel-wrapper {
  display: none;
}

#main {
  padding-top: 3.5em;
  padding-left: 1.35em;
  padding-right: 1.35em;
}

/* Sidebar visible and panel hidden */
@media all and (min-width: 768px) {

  #main {
    padding-top: 2.5em;
    padding-left: $sidebar-width + 50px;
    padding-right: 50px;
  }

  #sidebar {
    width: $sidebar-width;
  }

  #topbar {
    display: none;
  }
}

/* Both sidebar and panel are visible */
@media all and (min-width: 1000px) {

  #main {
    padding-left: $sidebar-width + 70px;
    padding-right: $sidebar-width + 70px;
  }

  #panel-wrapper {
    display: block;
  }
}

@media all and (min-width: 1300px) {

  #main {
    padding-left: $sidebar-width + 100px;
    padding-right: $sidebar-width + 100px;
  }
}

@media all and (min-width: 1600px) {
  
  #main {
    padding-left: $sidebar-width + 110px;
    padding-right: $sidebar-width + 110px;
  }

  #panel-wrapper {
    right: calc((100% - #{$max-content-width})/2);
  }

  #sidebar {
    width: $sidebar-width + 20px;
  }
}

/* ==================================================== */
/*                      CODE SYNTAX                     */
/* ==================================================== */          
/*
* The syntax highlight.
* v2.0
* https://github.com/cotes2020/jekyll-theme-chirpy
* © 2018-2019 Cotes Chung
* MIT Licensed
*/

@mixin highlight-box-shadow($val) {
  -moz-box-shadow: $val;
  -webkit-box-shadow: $val;
  box-shadow: $val;
}

html:not([mode]), html[mode=light] {
  @include light-syntax;
}

html[mode=dark] {
  @include dark-syntax;
}

@media (prefers-color-scheme: dark) {
  html:not([mode]), html[mode=dark] {
    @include dark-syntax;
  }

  html[mode=light] {
    @include light-syntax;
  }
}

/*-- Codes Snippet --*/

%highlight-pre-bg {
  background: var(--highlight-bg-color);
}

%code-snippet-radius {
  border-radius: 5px;
}

.highlighter-rouge {
  background: var(--highlight-bg-color);
  @extend %code-snippet-radius;
  color: var(--highlighter-rouge-color);
  margin-bottom: 1.2em; /* Override BS Inline-code style */
}

.highlight {
  padding: 2px 4px;//added by Jorge

  @extend %code-snippet-radius;
  background: var(--highlight-bg-color);

  @at-root figure#{&} {
    background: var(--highlight-bg-color);
  }
  overflow: auto;
  //@include highlight-box-shadow(inset 0 0 2px #c2c6cc);
  .lineno {
    margin: .8rem 0rem;
    padding: 0 .5rem;
    min-width: 2.2rem;
    text-align: right;
    color: var(--highlight-lineno-color);
    border-right: 1px solid var(--highlight-lineno-border-color);
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  table {
    padding: 0;
    border: 0;
    td pre {
      overflow: visible;  /* Fixed iOS safari overflow-x */
      word-break: normal; /* Fixed iOS safari linenos code break */
    }
  }
  td {
    padding: 0;
    border: 0;
  }
  pre {
    margin-bottom: 0;
    font-size: .85rem;
    line-height: 1.4rem;
    word-wrap: normal;
    /* Fixed Safari overflow-x */
  }

} //.highlight

code {
  -webkit-hyphens: none;
  -ms-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
  &.highlighter-rouge {
    padding: 2px 4px;
    margin: 0 .3rem;
    border-radius: 4px;
    //border: 1px solid var(--code-highlighter-rouge);
  }
  @at-root a>&.highlighter-rouge {
    padding-bottom: 0; // show link's underlinke
  }
  @at-root a:hover>&.highlighter-rouge {
    border-bottom: none;
  }
}

td.rouge-code {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Hide line numbers for default, console, and terminal code snippets */
div {
  &[class^='highlighter-rouge'],
  &.language-console.highlighter-rouge,
  &.language-terminal.highlighter-rouge {
    pre.lineno {
      display: none;
    }
    td.rouge-code {
      padding: .8rem 1rem;
    }
  }
}
