<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <title>{{ site.title }}</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}
    {% include head.html %}
  </head>

  <body>
    <div class="wrapper">
      <header>
        <h1 id="title"><a href="#">{{ site.title }}</a></h1>

        {% if site.logo %}
        <img id="avatar" src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p id="description">
          {{ site.position }}{% if site.institution %}<br />
          <span class="fs-point-9"><i class="fa fa-institution"></i> {% if site.institution.url %}<a href="https://ethz.ch/en.html">{% endif %}{{ site.institution.name }}{% if site.institution.url %}</a>{% endif %}{% if site.institution.country %}, {{ site.institution.country }}{% endif %}</span>{% endif %}
        </p>

        {% if site.navigation %}
          <div id="navigation_menu">
          {% for link in site.navigation %}
            <p class="navigation_item">{{ link }}</p>
          {% endfor %}
          </div>
        {% endif %}

        {% if site.social %}
          <div id="social">
          {% include social.html %}
          </div>
        {% endif %}

      </header>
      <section>

      {{ content }}

      <!--<footer>-->
      <p id="footer"><small>Hosted on GitHub Pages &mdash; Based on theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      <!--</footer>-->
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
